.overlay {
  position: fixed;
  background-color: var(--overlay-background-color);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.popup {
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  max-height: 90vh;
  min-width: 350px;
  padding: 1rem 2rem;
  border-radius: 4px;
  background: var(--popup-background-color);
  box-shadow: 0 1px 3px var(--separator-color);
}

.popup-header {
  border-bottom: 1px solid var(--separator-color);
  padding: 10px;
}

.popup-content {
  max-height: 50vh;
  overflow: auto;
  padding: 10px;
}

.popup-bottom {
  border-top: 1px solid var(--separator-color);
  padding: 10px;
}
